.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(120deg, #36454F 30%, white 100%);
  box-sizing: border-box;
  overflow: hidden;
}

.animation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
